body {
    display: block;
    background-color: #FAFAFA;
    color: #212121;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

header {
    display: block;
    background-color: #757575;
    color: #FAFAFA;
    margin-bottom: 0.5em;
    margin: 0;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    display: block;
    background-color: #212121;
    color: #FAFAFA;
	padding-right: 12px;
	padding-left: 16px;
	padding-top: 30px;
	padding-bottom: 64px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5),
    2px 4px 10px 0 rgba(0, 0, 0, 0.19),
    3px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}


h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 0px;
}

div.vkProfileIco {
    display: block;
    margin-left: auto;
}