body {
    display: block;
    background-color: #E0E0E0;
    color: #212121;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
header {
    display: block;
    background-color: #757575;
    color: #FAFAFA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow:  0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
header header {
    background-color: #616161;
    padding: 0.7em;
    box-shadow:  0 1px 4px 0 rgba(0, 0, 0, 0.2),
        0 2px 16px 0 rgba(0, 0, 0, 0.19);
}
header nav {
    text-align: center;
    padding: 0.3em;
}
header h1 {
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    margin-left: 1em;
}
header a {
    display: inline-block;
    color: #FAFAFA;
    font-weight: 400;
    text-decoration: none;
    margin: 0.2em;
    padding: 0.2em;
    box-shadow: none;
    transition-property: background-color,box-shadow;
    transition-duration: 0.5s;
}
header a:hover {
    background-color: #BDBDBD;
    color: #212121;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4),
        2px 4px 10px 0 rgba(0, 0, 0, 0.19);
}
footer {
    display: block;
    background-color: #616161;
    color: #FAFAFA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow:  0 -1px 8px 0 rgba(0, 0, 0, 0.2),
        0 -2px 20px 0 rgba(0, 0, 0, 0.19);
}

#news-hot {
    display: block;
    width: 100%;
    height: 20em;
    background-color: #BDBDBD;
    color: #212121;  
}

a {
    display: inline-block;
    text-decoration: none;
    transition-property: background-color,box-shadow;
    transition-duration: 0.5s;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
a:hover {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7),
        2px 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.linkbtn-fullline {
    display: block;
    width: 100%;
    background-color: #757575;
    color: #FAFAFA;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    padding: 1em 0 1em 0;
}
.linkbtn-fullline:hover {
    background-color: #BDBDBD;
    color: #212121;
}

#news-main {
    display: block;
    min-height: 1em;
    color: #FAFAFA;
    padding: 2em;
}

.news-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1em;
    border-spacing: 1em;
    border-bottom-width: 0;
    max-width: 800px;
}

.news-card {
    all: unset;
    display: table-cell;
    width: 100%;
    background-color: #F5F5F5;
    color: #212121;
    font-size: 0.9em;
    transition-property: background-color,box-shadow;
    transition-duration: 0.5s;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7),
        2px 4px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    vertical-align: top;
}

.news-card:hover {
    background-color: #FAFAFA;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.9),
        2px 4px 15px 0 rgba(0, 0, 0, 0.5), 
        3px 6px 30px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.news-card h2 {
    text-align: center;
    font-size: 1.45em;
    font-weight: 500;
    margin: 0;
}

.news-card data {
    display: block;
    color: #616161;
    text-align: right;
    font-size: 0.8em;
    font-weight: 500;
    margin-right: 0.8em;
}
.news-card p {
    color: #424242;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    margin-left: 0.8em;
    margin-right: 0.3em;
}

img {
    width: 100%;
}